<!DOCTYPE html>

<html lang="en">
<!-- head -->
<%- include('partials/head.ejs') %>
<!-- end head -->
<!-- body start-->

<body>
	<!-- preloader -->
	<div class="preloader">
		<div class="spinner">
			<div class="double-bounce1"></div>
			<div class="double-bounce2"></div>
		</div>
	</div>
	<!-- end preloader -->
	<%- include('partials/navbar.ejs') %>

	<!-- Breadcroumb Area -->

	<div class="breadcroumb-area bread-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="breadcroumb-title text-center">
						<h1>Todos Los Productos</h1>
						<h6><a href="index.html">Home</a> / Todos los productos</h6>
					</div>
				</div>
			</div>
		</div>
	</div>
    <div class="d-flex justify-content-end">
        <h3>El peso total de los productos es de: <%= prodw %></h3>
    </div>
   
    <table class="table">
        <thead>
            <tr>
                
                <th scope="col">Nombre del producto</th>
                <th scope="col">Tipo de envío</th>
                <th scope="col">Estado del envío</th>
                <th scope="col">Peso</th>
                <th scope="col">N° Tracking</th>
                <th scope="col">Fecha</th>
                <th scope="col">Comentario</th>
                <th scope="col">Editar</th>
                                   
            </tr>
        </thead>
        <tbody>
            <% product.forEach(product=> { %>
                <tr>
                    <td><%= product.name_product %></td>
                    <td><%= product.tipo_envio %></td>
                    <td><%= product.place %></td>
                    <td><%= product.weight %></td>
                    <td><%= product.n_tracking %></td>
                     <td><%= product.date_state %></td>
                     <td><%= product.coments %></td>
                    <td><a href="/products/edit/<%= product.id%>"><ion-icon style="color: black;" name="pencil-outline"></ion-icon></ion-icon></a></td>
                   
                </tr>
                <% }); %> 
        </tbody>
    </table>
	
	<a href="/adminuser" class=" btn btn-primary border mb-3 ml-3">Volver</a>

	<!-- Scroll Top Area -->
	<a href="#top" class="go-top" style="display: block;"><i class="las la-angle-up"></i></a>

	<!-- Jquery Library -->
	<script src="js/jquery-2.min.js"></script>
	<!-- Bootstrap Js -->
	<script src="js/bootstrap.bundle.js"></script>
	<!-- Owl Carousel js -->
	<script src="js/owl.carousel.min.js"></script>
	<!-- Smooth Scroll Js -->
	<script src="js/smooth-scroll.js"></script>
	<!-- Navigation JS -->
	<script src="js/menumaker.js"></script>
	<!-- Way Points JS -->
	<script src="js/waypoints.min.js"></script>
	<!-- Counter Up JS -->
	<script src="js/jquery.counterup.js"></script>
	<!-- Sticky JS -->
	<script src="js/jquery.sticky.js"></script>
	<!-- Slicknav JS -->
	<script src="js/jquery.slicknav.min.js"></script>
	<!-- Mail Chimp JS -->
	<script src="vendor/mailchimp/jquery.ajaxchimp.js"></script>
	<!-- Main JS -->
	<script src="js/theme.js"></script>
	<!-- end JS -->
	<!-- Ionicons -->
	<script  src = "https://unpkg.com/ionicons@5.1.2/dist/ionicons.js" ></script>
</body>
<!-- body end -->

</html>
